/*
#003249 Prussian Blue
#007EA7 CG Blue
#9AD1D4 Powder Blue
#CCDBDC Light Gray
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
*/

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'PT Serif', serif;
    font-size: large;
}

header {
    background-color: #003249;
    display: flex;
    height: 4.5rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    padding: 5px;

}

nav {
    height: 90%;
    width: 25%; 

    
}

h1{
    height: 4rem;
    width: 99.5%;
    font-size: 4rem;
    border: 4px solid black;
    background-color: #007EA7;
    text-align: center;
}
a:link{color: #0F4C5C;
    text-decoration: none;}
a:visited{color:#007EA7;}
a:hover {color: #8B575C;}

.top {
    display: flex;

    list-style: none;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

 .nav {
    display: flex;
    align-items: center;  
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border: 4px solid black;
    background-color: #F6BDD1;
}

.nav:hover {
    background-color: #0F4C5C;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1em;
    grid-template-rows: 50% 50%;
    row-gap: 1em;
    font-size: 30px;
    font-family: 'PT Serif', serif;

}
.wrapper > div {
    padding: 1fr;
    background-color: #eee;
}

